<div class="w-full">
<%# rails way of giving flash messages for users %>
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>

<h1 class="font-bold text-xl mb-6 pb-2 border-b-2">
  WADS Team
</h1>
<%# How to modify the data structure of the employee to add new fields, what is notice?%>
<%# how to merge, how to fix the broken stuff at the bottom %>
<%# if i was to create a separate page, would i need a new controller or no need %>


<div class="row flex-none section-leadership">
  <%- @employees.each do |employee| %>
    <div class="column column-md-4 s0 between w-60">
      <%= image_tag(employee.profile_pic_url, class: "object-contain w-40 h-48 shadow mr-6") %>
      <div class="component component--heading">
        <h3 class="heading font-bold w-40"><%= employee.name %></h3>
      </div>
      <div class="component component--heading">
        <h6 class="eyebrows heading w-40"><%= employee.job %></h6>
      </div>
      <div class="component component--heading">
        <p class="w-40"><%= employee.contact %></p>
      </div>
    </div>
  <% end %>
</div>
</div>