<!DOCTYPE html>
<html>
  <head>
    <title>WADS Team</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  </head>

  <body>
    <header class="bg-yellow-500">
      <%= image_tag("Technology_Services_logo.png", alt: "Technology Services Logo") %>
      <h1><%= @page_title %>
    </header>

    <section class="flex">
      <nav class="bg-blue-900 p-6">
        <ul class="text-gray-300 leading-8">
          <li><a href="/">Home</a></li>
          <%# be sure to change the team link when you come back later %>
          <li><a href="/">Team</a></li>
          <li><a href="/projects">Past Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
